.wrap {
  display: flex;
  // align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 右侧 */
div.operating-panel {
  // display: flex;
  width: 200px;
  // text-align: center;
  margin-left: 16px;
}
.operating-panel a {
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 39px;
  margin-right: 8px;
  margin-left: 8px;
  background: rgb(100, 167, 233);
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  font-family: '微软雅黑', '宋体';
}
.operating-panel a:hover {
  background: rgb(48, 148, 247);
  text-decoration: none;
}
.operating-panel a.disable,
.operating-panel a.disable:hover {
  cursor: default;
  background: rgb(197, 203, 209);
  color: rgb(130, 139, 148);
}
.operating-panel a.selected {
  border: 5px solid #f3c242;
  padding: 5px 10px;
}

.win-text {
  color: #ce4242;
  font-size: 26px;
  font-family: '微软雅黑';
}
