<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>网页纯净版五子棋</title>
  <meta name="description" content="网页版五子棋游戏，画面高清，纯网页制作，简单好玩，欢迎挑战！">
</head>
<body>
  <h1 style="display: none;">五子棋</h1>
  <div id="root"></div>
</body>
</html>